@if (data != null && NotificationDatas != null)
{
    <div class="detailedSecondaryView">
        <div>
            <div>
                @if (data.BatteryStatus > 0.80f)
                {
                    <i class="fa fa-battery-4"></i>
                }
                else if (data.BatteryStatus > 0.60f)
                {
                    <i class="fa fa-battery-3"></i>
                }
                else if (data.BatteryStatus > 0.35f)
                {
                    <i class="fa fa-battery-2"></i>
                }
                else if (data.BatteryStatus > 0.10f)
                {
                    <i class="fa fa-battery-1"></i>
                }
                else
                {
                    <i class="fa fa-battery-0"></i>
                }
            </div>
            <p>@String.Format(CultureInfo.InvariantCulture, "{0:0}", data.BatteryStatus * 100f)%</p>
        </div>
        <div>
            <div> <i class="fa fa-thermometer-half"></i> </div>
            <p>@String.Format(CultureInfo.InvariantCulture, "{0:0}", data.InsulinStatus * 100f)%</p>
        </div>
    </div>

    <div class="detailedMainView">
        <div>
            <p>@String.Format(CultureInfo.InvariantCulture, "{0:0.0}", data.BloodGlucose)</p>
        </div>
        <div>
            <div>
                <p>@(data.Minutes)m</p>
            </div>
            <div>
                @if (data.Delta > 0.5)
                {
                    <p>&#9757;</p>
                }
                else if (data.Delta < -0.5)
                {
                    <p>&#9759;</p>
                }
                else
                {
                    <p class="fa fa-long-arrow-right"></p>
                }
            </div>
        </div>
    </div>
    <p class="bloodGlucoseStatus">@GetStatusMessage()</p>
}

@code {
    [Parameter] public PumpData data { get; set; }
    [Parameter] public List<NotificationData> NotificationDatas { get; set; }

    private string GetStatusMessage()
    {
        var r = "Blood sugar stable";
        foreach (var n in NotificationDatas)
        {
            if (n.ThresholdType == ThresholdType.High)
            {
                if (data.BloodGlucose > n.Threshold)
                {
                    r = "Blood sugar high";
                }
            }
            else
            {
                if (data.BloodGlucose < n.Threshold)
                {
                    r = "Blood sugar low";
                }
            }
        }
        return r;
    }
}
